<section class="section">
<div class="box">
  <h4 class="subtitle">
    Question <%= @id %>
  </h4>
  <audio controls>
    <source src="<%= question_file_path(@question_id) %>"></source>
  </audio>
</div>
<div class="pBT">
  <input id="startRecordingEl" class="button is-link" onclick="audio.startRecording()" type="button" value="start recording" />
  <input id="stopRecordingEl" class="button is-warning is-hidden" onclick="audio.stopRecording()" type="button" value="stop recording" />
  <span id="recordingStatus"></span>
</div>
<div class="box<%= @answer.nil? ? " is-hidden" : "" %>" id="submitContainerEl">
  <div class="container">
    <h4 class="subtitle">Current Recording</h4>
    <audio controls id="audioEl">
      <% if @answer.present? %>
        <source src="<%= answer_file_path(@answer.id) %>"></source>
      <% end %>
    </audio>
    <button id="uploadEl"
            class="button is-success"
            <%= @answer.nil? ? "" : "disabled" %>
            data-posturl="<%= answer_audio_path(@id) %>"
            data-nexturl="<%= audio_path(@id + 1) %>"
    >
      <%= @answer.nil? ? "submit" : "submitted" %>
    </button>
  </div>
</div>
<div class="pBT">
  <% if @all_attempted %>
    <a class="button is-primary" href="<%= end_audio_index_path %>">submit</a>
  <% end %>

  <a class="button is-info is-outlined"
     onclick="audio.navigationGuard(event)"
     data-href="<%= audio_path(@id - 1) %>"
     <% if @id == 1 %>disabled<% end %>
  >Previous</a>

  <a class="button is-info is-outlined"
     onclick="audio.navigationGuard(event)"
     data-href="<%= audio_path(@id + 1) %>"
     <% if @id == @attempt.question_count %>disabled<% end %>
  >Next</a>
</div>
</section>
