<section class="section">
<div class="columns is-centered">
  <div class="column is-half-desktop box">
    <div class="columns has-text-centered is-centered">
      <h4 class="subtitle column">
        Question <%= @id %>
      </h4>
    </div>
    <div class="columns has-text-centered is-centered">
      <div class="column">
        <audio controls>
          <source src="<%= question_file_path(@question_id) %>"></source>
        </audio>
      </div>
    </div>
  </div>
</div>
<div class="columns is-centered">
<div class="column is-half-desktop">
  <input id="startRecordingEl" class="button is-link" onclick="audio.startRecording()" type="button" value="Start Recording" />
  <input id="stopRecordingEl" class="button is-warning is-hidden" onclick="audio.stopRecording()" type="button" value="Stop Recording" />
  <span id="recordingStatus" class="is-hidden">
    <button class="button is-loading is-outlined is-danger" disabled></button>
  </span>
</div>
</div>
<div class="columns is-centered">
  <div class="column is-half-desktop box<%= @answer.nil? ? " is-hidden" : "" %>" id="submitContainerEl">
    <div class="columns has-text-centered is-centered">
      <h4 class="subtitle column">Current Recording</h4>
    </div>
    <div class="columns has-text-centered is-centered">
      <div class="column">
        <audio controls id="audioEl">
          <% if @answer.present? %>
            <source src="<%= answer_file_path(@answer.id) %>"></source>
          <% end %>
        </audio>
      </div>
    </div>
    <div class="columns has-text-centered is-centered">
    <div class="column">
      <button id="uploadEl"
              class="button is-success"
              <%= @answer.nil? ? "" : "disabled" %>
              data-posturl="<%= answer_audio_path(@id) %>"
              data-nexturl="<%= audio_path(@id + 1) %>"
      >
        <%= @answer.nil? ? "Submit Recording" : "Submitted" %>
      </button>
    </div>
    </div>
  </div>
</div>
<div class="field is-grouped is-grouped-centered">
  <% if @all_attempted %>
    <a class="button is-primary" href="<%= end_audio_index_path %>">
      Submit All Answers
    </a>
  <% end %>
</div>

<div class="columns is-centered has-text-centered">
  <div class="column is-half-desktop">
    <nav class="pagination is-centered">
      <a class="pagination-previous"
         onclick="audio.navigationGuard(event)"
         data-href="<%= audio_path(@id - 1) %>"
         <% if @id == 1 %>disabled<% end %>
      >Previous</a>

      <a class="pagination-next"
         onclick="audio.navigationGuard(event)"
         data-href="<%= audio_path(@id + 1) %>"
         <% if @id == @attempt.question_count %>disabled<% end %>
      >Next</a>

      <ul class="pagination-list">
        <% @attempt.results.each_with_index do |v, idx| %>
          <li>
            <a class="pagination-link<%= @id == (idx + 1) ? " is-current" : "" %>"
               onclick="audio.navigationGuard(event)"
               data-href="<%= audio_path(idx + 1) %>"
            >
              <% if v[1].present? %>
                <%= image_tag "check.png", size: "16" %>
                &nbsp;
              <% end %>
              <%= idx + 1 %>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
</section>
