<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AudioQuestions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% begin %>
      <%= javascript_include_tag params[:controller] %>
    <% rescue Sprockets::Rails::Helper::AssetNotFound %>
    <% end %>
  </head>

  <body>

    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= root_path %>">
          <strong>Gurukul</strong>
        </a>
        <% if user_signed_in? %>
          <span class="navbar-item">
            <a class="button is-danger" href="<%= destroy_user_session_path %>">
              Sign out
            </a>
          </span>
        <% else %>
          <span class="navbar-item">
            <a class="button is-outlined" href="<%= new_user_session_path %>">
              Sign in
            </a>
          </span>
        <% end %>
      </div>
    </nav>

    <% if flash[:alert] %>
      <article class="message is-warning">
        <div class="message-header"><%= flash[:alert] %></div>
      </article>
    <% elsif flash[:notice] %>
      <article class="message is-info">
        <div class="message-header"><%= flash[:notice] %></div>
      </article>
    <% end %>

    <%= yield %>
  </body>
</html>
